Carregando o CSV com os dados dos alunos referentes à 2016

import os
import pandas as pd
import numpy as np3

if not os.path.exists("data"):
    os.mkdir("data")
    !cd data && curl -O {"http://download.inep.gov.br/microdados/microdados_censo_superior_2016.zip"} && unzip {"'*.zip'"}
    !cd data/DADOS && unrar e "*.rar" && mv *.CSV ../
    !cd data && rm -r ANEXOS LEIA-ME DADOS FILTROS && rm microdados_censo_superior_2016.zip

Coloquei em markdown porque tava demorando pra baixar, já que eu tinha os arquivos aqui... preferi deixar assim por enquanto

In [2]:
import pandas as pd

#pd.read_csv('data.csv', sep='|
dataframe_alunos_2016 =  pd.read_csv('data/DM_ALUNO.CSV',
                                     sep='|', encoding='latin1',
                                     usecols=['NO_CURSO', 'CO_TURNO_ALUNO', 'CO_GRAU_ACADEMICO', 'CO_ALUNO_CURSO', 'DS_COR_RACA_ALUNO',
                                            'CO_MODALIDADE_ENSINO', 'NO_OCDE', 'DS_SEXO_ALUNO', 'NU_ANO_ALUNO_NASC', 'CO_ALUNO_SITUACAO',
                                             'IN_FINANC_ESTUDANTIL', 'CO_TIPO_ESCOLA_ENS_MEDIO', 'ANO_INGRESSO'])
dataframe_alunos_2016.head()

,NO_CURSO,CO_TURNO_ALUNO,CO_GRAU_ACADEMICO,CO_MODALIDADE_ENSINO,NO_OCDE,CO_ALUNO_CURSO,DS_COR_RACA_ALUNO,DS_SEXO_ALUNO,NU_ANO_ALUNO_NASC,CO_ALUNO_SITUACAO,IN_FINANC_ESTUDANTIL,CO_TIPO_ESCOLA_ENS_MEDIO,ANO_INGRESSO
0,DIREITO,3.0,1.0,1,Direito,25001314,Parda,Masculino,1987,2,NaN,1,2016
1,DIREITO,3.0,1.0,1,Direito,25037243,Parda,Masculino,1988,2,NaN,1,2012
2,DIREITO,3.0,1.0,1,Direito,25030916,Preta,Feminino,1988,3,NaN,1,2015
3,DIREITO,3.0,1.0,1,Direito,25016919,Parda,Masculino,1977,3,NaN,1,2013
4,DIREITO,1.0,1.0,1,Direito,25001942,Parda,Masculino,1983,4,NaN,1,2011

In [3]:
print(dataframe_alunos_2016.groupby('IN_FINANC_ESTUDANTIL').count())

                      NO_CURSO  CO_TURNO_ALUNO  CO_GRAU_ACADEMICO  \
IN_FINANC_ESTUDANTIL
0.0                    5861875         4200346            5854134
1.0                    3355160         2829900            3354427

                      CO_MODALIDADE_ENSINO  NO_OCDE  CO_ALUNO_CURSO  \
IN_FINANC_ESTUDANTIL
0.0                                5861875  5861552         5861875
1.0                                3355160  3355044         3355160

                      DS_COR_RACA_ALUNO  DS_SEXO_ALUNO  NU_ANO_ALUNO_NASC  \
IN_FINANC_ESTUDANTIL
0.0                             5861875        5861875            5861875
1.0                             3355160        3355160            3355160

                      CO_ALUNO_SITUACAO  CO_TIPO_ESCOLA_ENS_MEDIO  \
IN_FINANC_ESTUDANTIL
0.0                             5861875                   5861875
1.0                             3355160                   3355160

                      ANO_INGRESSO
IN_FINANC_ESTUDANTIL
0.0                        5861875
1.0                        3355160

In [4]:
dataframe_alunos_2016.to_csv('data/alunos2016.csv')

In [5]:
DF_alunos2016 =  pd.read_csv('data/alunos2016.csv')
DF_alunos2016.head()

,Unnamed: 0,NO_CURSO,CO_TURNO_ALUNO,CO_GRAU_ACADEMICO,CO_MODALIDADE_ENSINO,NO_OCDE,CO_ALUNO_CURSO,DS_COR_RACA_ALUNO,DS_SEXO_ALUNO,NU_ANO_ALUNO_NASC,CO_ALUNO_SITUACAO,IN_FINANC_ESTUDANTIL,CO_TIPO_ESCOLA_ENS_MEDIO,ANO_INGRESSO
0,0,DIREITO,3.0,1.0,1,Direito,25001314,Parda,Masculino,1987,2,NaN,1,2016
1,1,DIREITO,3.0,1.0,1,Direito,25037243,Parda,Masculino,1988,2,NaN,1,2012
2,2,DIREITO,3.0,1.0,1,Direito,25030916,Preta,Feminino,1988,3,NaN,1,2015
3,3,DIREITO,3.0,1.0,1,Direito,25016919,Parda,Masculino,1977,3,NaN,1,2013
4,4,DIREITO,1.0,1.0,1,Direito,25001942,Parda,Masculino,1983,4,NaN,1,2011

In [6]:
qtd_cursos = len(DF_alunos2016.NO_OCDE.drop_duplicates())
qtd_cursos

350

In [7]:
curso_raca = DF_alunos2016
curso_raca = pd.melt(curso_raca, id_vars = 'NO_OCDE', value_vars ='DS_COR_RACA_ALUNO')

curso_raca.head()

   NO_OCDE           variable  value
0  Direito  DS_COR_RACA_ALUNO  Parda
1  Direito  DS_COR_RACA_ALUNO  Parda
2  Direito  DS_COR_RACA_ALUNO  Preta
3  Direito  DS_COR_RACA_ALUNO  Parda
4  Direito  DS_COR_RACA_ALUNO  Parda

In [8]:
curso_raca = curso_raca.rename(columns= {'value' : 'raca'})
curso_raca = curso_raca.rename(columns= {'NO_OCDE' : 'curso'})
curso_raca = curso_raca.rename(columns= {'variable' : 'qtd'})

curso_raca = curso_raca.replace(to_replace = 'DS_COR_RACA_ALUNO', value = 1)

curso_raca = curso_raca.pivot_table(index = 'curso', columns='raca', values= 'qtd',aggfunc='sum')

curso_raca.head()

raca,Aluno não quis declarar cor/raça,Amarela,Branca,Indígena,Não dispõe da informação,Parda,Preta
curso,,,,,,,
Acústica,4.0,NaN,187.0,NaN,NaN,19.0,10.0
Administração,345790.0,15172.0,393559.0,4783.0,34924.0,244571.0,54294.0
Administração de cooperativas,398.0,17.0,597.0,6.0,6.0,382.0,156.0
Administração de redes,11294.0,575.0,11277.0,198.0,924.0,8918.0,2618.0
Administração de sistemas de informações,NaN,NaN,NaN,NaN,NaN,6.0,NaN

In [9]:
curso_raca.loc['Administração']

raca
Aluno não quis declarar cor/raça    345790.0
Amarela                              15172.0
Branca                              393559.0
Indígena                              4783.0
Não dispõe da informação             34924.0
Parda                               244571.0
Preta                                54294.0
Name: Administração, dtype: float64

Com isso, podemos selecionar relações entre os cursos e as raças

In [34]:
for i in range(0,6):
    print(curso_raca.iloc[:,i].idxmax())

Administração
Direito
Direito
Direito
Administração
Direito

Pegando o curso com maior qtd por coluna

In [37]:
curso_raca.iloc[:].nlargest(5,'Amarela')

raca,Aluno não quis declarar cor/raça,Amarela,Branca,Indígena,Não dispõe da informação,Parda,Preta
curso,,,,,,,
Direito,311136.0,17151.0,456318.0,6425.0,23740.0,257764.0,62355.0
Administração,345790.0,15172.0,393559.0,4783.0,34924.0,244571.0,54294.0
Pedagogia,293977.0,10045.0,293059.0,5789.0,33826.0,220415.0,53091.0
Engenharia civil,135277.0,9478.0,202143.0,3574.0,7798.0,111778.0,25950.0
Ciências contábeis,163908.0,7583.0,174480.0,2634.0,11614.0,126821.0,27837.0

Dessa forma mostra os n maiores cursos por raça, mas "ordena" pela coluna selecionada, nesse caso, foi "Amarela"